/*
    Created on : Jul 4, 2018, 8:02:28 PM
    Author     : Elmira
*/
a, a:hover{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
.labelText{
    font-weight: bold;
    font-size: 12px;
}

 .loginBG {
    background: url(../images/banner_default.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
.genevedaLogo,
.mdlLogo{
    display: inline-block!important;
    width: 100%;
}
.genevedaLogo span,
.mdlLogo span{
    display: block;
    width: 65px;
    float: left;
    height: 30px;
}
.genevedaLogo .image,
.mdlLogo .image{
    display: inline-block;
    width: 100px;
    height: 45px;
    margin-left: 20px;
}
.genevedaLogo .image{
    background: url(../images/logo_geneveda.png) 0 0 no-repeat;
    background-size: contain;
    height: 30px;
}
.mdlLogo .image{
    background: url(../images/logo_mdl.png) 0 0 no-repeat;
    background-size: contain;
    margin-top: -12px;
}

.panel-default {
    opacity: 0.9;
    margin-top:30px;
}
.form-group.last {
    margin-bottom:0px;
}
.panel-default {
    opacity: 0.9;
    margin-top:30px;
}
.form-group.last { margin-bottom:0px; }
.page-title-1{
    display: inline-block;
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 8px;
    margin-bottom: 30px;
    color: #737373;
    font-weight: bold;
}
td{
    vertical-align: middle !important;
}
#officeLogo img{
    width: 100%;
}
.addressTitle,
.providersTitle{
    margin: 0;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}
.providersTitle{
    margin-top: 10px;
    border-bottom: 2px solid #777;
    padding-bottom: 6px;
}
.devicesTitle{
    text-align: left;
    margin: 0;
    padding-bottom: 20px;
}
.devicesTitle .add-new-device{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}