@import url('https://fonts.googleapis.com/css?family=Open+Sans');


#myModal{
  display:none;
  height: 100%;
  /*overflow-y: auto;*/

  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

}

.modal-class{
  background-color: #fefefe; 
  margin: 10% auto; 
  /*padding: 5px;*/
  border: 1px solid #888; 
  width: 80%; 
  height: 70%;
  position:relative;
}

.close{
  cursor:pointer;
  padding: 1px;
}

.form-container{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  max-width:none;
}

.form-row{
  height:100%;
}


#patient_brca_forms .patient_name{
    background: #2b4d77;
    width: 100%;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 18px;

}

#patient_brca_forms .contentBlock {
    padding: 70px 2px 2px 2px;
}

#accordion {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 500px;
  overflow: hidden;

}

#accordion .f_status{
    max-height:2.3em;
}

#accordion::after {
  content: '';
  position: relative;
  background: rgb(28,72,123);
  width: 30px;
  height: 500px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#accordion .form-info-container{
  height: 100%;
  background: grey;
  background: url("../images/form_grey_background.png");
  box-shadow: inset 0px 0px 21px 0px rgba(74, 74, 74, 0.11);
  border-bottom-left-radius: 10px;
  position: relative;

}

#accordion .save{
  background: linear-gradient(to bottom, rgba(255,255,255,1) 46%,rgba(224,224,224,1) 64%,rgba(243,243,243,1) 100%);
  border: 0;
  outline: 0;
  cursor: pointer;
  border: 1px solid #b7b7b7;
  box-shadow: inset 0 0 30px rgba(255,255,255,.8), 0 1px 6px rgba(0,0,0,.31);
  padding: .857em 2.2em .857em 4em;
  border-radius: 2em;
  width:20px;

}

#accordion .page-count{
color: #1c487b;
font-weight: bold;
}

.form-info-container .buttons{
  display: block;
  width: 100%;
  position: relative;
  top: -50px;
  display:flex;
  justify-content: space-between;
  padding-left: 50px;
  align-items:center;
}

.buttons .prev-button{
margin-left: 20px;
background: white;
padding: 1px 5px;
border-radius: 50%;
cursor:pointer;
}

.buttons .next-button{
margin-right: 20px;
background: white;
padding: 1px 5px;
border-radius: 50%;
cursor:pointer;
}

#accordion .form-info{
  padding:20px;
  margin-left:50px;
}

#accordion .form-info .fh{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(28, 72, 123);
  font-weight: bold;
  line-height: 1.333;
  background:none;
}

#accordion li {
  float: left;
  display: block;
  height: 100%;
  width: 50px;
  /*padding: 15px 0 0 0;*/
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5em;
  transition: width 0.3s 0s;
}

#accordion li img {
  border: none;
  float: left;
  margin: -15px 15px 0 0;
}

#accordion li.active {
  width: 90%;
}

#form-print{
  height: 35px;
  width: 80px;
  position: absolute;
  right: 50px;
  top: 68px;
  background: rgb(255,255,255);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 46%,rgba(224,224,224,1) 64%,rgba(243,243,243,1) 100%);
  border: 0;
  outline: 0;
  cursor: pointer;
  border: 1px solid #b7b7b7;
  box-shadow: inset 0 0 30px rgba(255,255,255,.8), 0 1px 6px rgba(0,0,0,.31);
  border-radius: 2em;
  text-align:center;
}

#form-print strong{
  vertical-align: sub;
  color: #1c487b;
}


#form-print:hover {
    box-shadow: inset 0 0 30px rgba(255,255,255,1), 0 1px 10px rgba(155,174,65,1);
    border-color: #9bae41;
}

.active-tab{
  background:white !important;
  color: rgb(28, 72, 123) !important;
}

#form-details{
  width: 140px;
  height: 40px;
  box-shadow: 0px 0px 2.08px 1.92px rgba(0, 0, 0, 0.15);
  background: linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(227,255,255) 0%, rgb(218,223,227) 0%, rgb(255,255,255) 100%);
  border-radius: 10px 10px 0px 0px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: rgb(102, 102, 102);
}

#form-details h2{
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

#forms{
  background: linear-gradient( rgb(218,223,227) 15%, rgb(255,255,255) 100%);
  width: 140px;
  height: 40px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 2.08px 1.92px rgba(0, 0, 0, 0.2);
  display:inline-block;
  position: relative;
  cursor: pointer;
  color: rgb(102, 102, 102);
}

#forms h2{
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

#form-bar{
  /*width: 5%;*/
  min-width:50px;
  /*background: linear-gradient( 90deg, rgb(218,223,227) 15%, rgb(255,255,255) 100%);*/
  background: url("../images/form_bar_background.png") no-repeat;
  border-radius:10px 0 0 10px;
  background-size:cover;
  display: block;
  border: none;
  border-right: 1px solid #fff;
  float: left;
  /*margin: -15px 15px 0 0;*/
  height: 100%;
  box-shadow: 4.988px 0.349px 4px 0px rgba(0, 0, 0, 0.2);
  position:relative;
  z-index:1;
}

#form-bar h2{
  writing-mode: vertical-rl;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(28, 72, 123);
  font-weight: bold;
  line-height: 1.2;
  transform: rotate(180deg);
  height: 100%;
  text-indent:10px;
  padding-right:10px;
}

.f2 input, .f2 select, .f2 textarea{
  background:white;
}

#form-option-table{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 84%;
  overflow: hidden;
  background: url(../images/form_grey_background.png);
}

#form-option-table .buttons{
  top: 30px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

#form-option-table td.printSelectBlock {
    width: 30%;
}

#form-option-table thead th.no-bg{
    width:30%;
}

#form-option-table tbody tr td.left-td{
  text-align: left;
  font-weight: 600;
}

#info_button{
display:inline-block;
}

.print_button{
  display:inline;
  margin-left: 15px;
}

.button {
  color: #173d68;
}

#form-option-table table{
    width:600px !important;
    margin-bottom: 40px;
    overflow:hidden;
    margin:auto;
    margin-top:30px;
}

#form-option-table table tbody tr{
background:#f1f1f1;
height: 40px;
border: 1px solid white;       
}

#form-option-table table a{
width:100%;
text-indent: 20px;
}

#form-option-table table tbody span{
  width: 100%;
  margin-left: 20px;
}

#form-option-table table tr td:nth-child(2){
background: linear-gradient( 0deg, rgb(226,226,226) 0%, rgb(241,241,241) 100%);

}

.partially_completed::before{
content:'';
position:absolute;
background:url(../images/icon_partially_completed.png);
width: 40px;
height: 40px;
background-repeat: no-repeat;
margin-left: 20px;
margin-top: -5px;
}

.completed::before{
content:'';
position:absolute;
background:url(../images/icon_completed.png);
width: 40px;
height: 40px;
background-repeat: no-repeat;
margin-left: 20px;
margin-top: -5px;

}

.not_needed::before{
content:'';
position:absolute;
background:url(../images/icon_not_needed.png);
width: 40px;
height: 40px;
background-repeat: no-repeat;
margin-left: 20px;
margin-top: -5px;
}

/*iPad portrait*/
@media only screen and 
(max-device-width: 1024px) 
and (min-device-width: 768px) 
and (orientation: portrait){

	.form-info-container .buttons{
		top:-70px;
	}


}
/*iPad landscape*/
@media only screen and 
(max-device-width: 1024px) 
and (min-device-width: 768px) 
and (orientation: landscape){


  .modal-class{
    margin:15% auto;
  }

  #accordion{
    width:100%;
  }

  #form-option-table thead{
    position:initial;
    display:table;
  }

  #form-option-table tbody{
    margin-top:0px;
  }

  #patient_brca_forms .contentBlock{
    top: 5%;
  }
}

/*iPad Pro Portrait*/
@media only screen 
and (-webkit-min-device-pixel-ratio: 2) 
and (max-device-height: 1367px) 
and (max-device-width: 1025px) 
and (min-device-height: 1365px) 
and (min-device-width: 1023px) 
and (orientation: portrait){

  #form-option-table thead{
    position:initial;
    display:table;
    width: calc(100% - 18px);
  }

  #form-option-table tbody{
    margin-top:0px;
  }
}


/*iPad Pro Landscape*/
@media only screen and 
(-webkit-min-device-pixel-ratio: 2) 
and (max-device-width: 1366px) 
and (min-device-width: 1366px) 
and (orientation: landscape){

  #form-option-table thead{
    position:initial;
    display:table;
    width: calc(100% - 18px);
  }

  #form-option-table tbody{
    margin-top:0px;
  }
}

.disabled {
  pointer-events: none;
}
.disabled h2 {
  color: rgb(120, 120, 120);
}
