/* 
    Created on : Jul 4, 2018, 8:02:28 PM
    Author     : Elmira
*/

 .loginBG { 
    background: url(../images/banner_default.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.panel-default {
    opacity: 0.9;
    margin-top:30px;
}
.form-group.last { 
    margin-bottom:0px; 
}
.panel-default {
    opacity: 0.9;
    margin-top:30px;
}
.form-group.last { margin-bottom:0px; }
.page-title-1{
    display: inline-block;
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 8px;
    margin-bottom: 30px;
    color: #737373;
    font-weight: bold;
}
td{
    vertical-align: middle !important;
}